.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);

  --width-mobile: 375px;
  --width-desktop: 1440px;

  --gap: 15px;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
object {
  cursor: pointer;
}

input {
  background: inherit;
  color: inherit;
  border: none;
  padding: inherit;
  font: inherit;
  cursor: inherit;
  outline: none;
  min-width: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--light-gray);
  box-sizing: content-box;
}
 main {
  font-size: 16px;
}

.comment-container {
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-columns: 15% 15% 1fr;
  grid-template-rows: auto;
  margin: 3% auto;
}

.comment-user-main-grid-container {
  grid-column: 1 / 4;
  margin: var(--gap) 0;
  padding: 0 var(--gap);
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 25% 1fr;
  gap: var(--gap);
  background-color: var(--white);
  border-radius: 5px;
}
.comment-rate {
  width: 50%;
  grid-row: 1 / 3;
  margin: var(--gap) auto;
  border-radius: 5px;
}
.comment-rate-flexbox {
  display: flex;
  height: 80%;
  margin: auto;
  flex-direction: column;
  background-color: var(--light-gray);
  border: solid var(--light-gray);
  border-radius: 7px;
  justify-content: space-between;
}
input.comment-rate-element {
  color: var(--light-grayish-blue);
  background-repeat: no-repeat;
  background-position: center;
}
span.comment-rate-element {
  color: var(--moderate-blue);
  background-color: inherit;
  text-align: center;
  font-size: 80%;
  font-weight: 700;
}

.comment-user-flexbox-container {
  grid-column: 2 / 2;
  display: flex;
  align-items: flex-start;
  margin-top: var(--gap);
  padding-top: 10;
}
.comment-user-flexbox-container .comment-user-flexbox-element {
  padding-left: var(--gap);
}
.comment-user-flexbox-container .comment-avatar {
  width: 2em;
  padding-left: 0;
}
.comment-user-flexbox-container .comment-uid {
  color: var(--dark-blue);
  font-weight: 700;
}
.comment-user-flexbox-container .comment-date {
  color: var(--grayish-blue);
}
.comment-user-flexbox-container .comment-reply,
.comment-user-flexbox-container .comment-edit { 
  margin-left: auto;
  padding-right: var(--gap);
  color: var(--moderate-blue);
  font-weight: 700;
}
.comment-user-flexbox-container .comment-edit {
  margin-left: unset;
}
.comment-user-flexbox-container .comment-delete {
  margin-left: auto;
  padding-right: var(--gap);
  color: var(--soft-red);
  font-weight: 700;
}
.comment-user-flexbox-container object {
  margin-right: 3px;
}

.comment-user-main-grid-container .comment-content {
  grid-column: 2 / 2;
  margin: var(--gap) 0;
  color: var(--grayish-blue);
}

.comment-user-nested-grid-container {
  position: relative;
  grid-column: 1 / 4;
  display: grid;
  grid-template-rows: 1fr;
  /*grid-auto-rows: 1fr;*/
  grid-template-columns: 10% 1fr 1fr;
}
.comment-user-nested-grid-container .comment-user-nested-grid-container-line {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  position: relative;
  margin: var(--gap) auto;
  border-left: 2px solid var(--light-grayish-blue);
}
.comment-user-nested-grid-container .comment-user-main-grid-container {
  grid-column: 2 / 4;
}

/*CSS add comment */
.comment-user-add-response {
  grid-row: auto;
  grid-column: 1 / 4;
  margin: var(--gap) 0;
  padding: var(--gap);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 10% 1fr;
  gap: var(--gap);
  background-color: var(--white);
  border-radius: 5px;
}
.comment-user-add-response .comment-user-add-response-avatar {
  width: 50%;
  margin: 0 auto;
  grid-column: 1 / 2;
}
.comment-user-add-response .comment-user-add-response-flexbox {
  grid-column: 2 / 3;
  display: flex;
}
.comment-user-add-response .add-response-textarea {
  resize: none;
  outline: none;
  margin-right: var(--gap);
  padding: 5px;
  min-height: 4em;
  flex-grow: 2;
  color: var(--dark-blue);
  background-color: var(--very-light-gray);
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  font-weight: 700;
}
.comment-user-add-response .add-response-textarea:focus {
  border: 3px solid var(--moderate-blue);
  font-weight: 500;
}
.comment-user-add-response .add-response-textarea:focus::placeholder {
  color: transparent; /*when textarea is focused remove placeholder*/
}
.comment-user-add-response .add-response-send-button,
.comment-user-add-response .add-reply-send-button,
.edit-button {
  width: 20%;
  width: 20%;
  height: 2em;
  padding: 3px 5px;
  align-self: flex-start;
  color: var(--white);
  background-color: var(--moderate-blue);
  border-radius: 4px;
}
.comment-user-add-response .add-response-send-button:hover,
.comment-user-add-response .add-reply-send-button:hover,
.edit-button:hover {
  color: var(--moderate-blue);
  font-weight: 700;
  border: 3px solid var(--light-grayish-blue);
  background-color: var(--very-light-gray);
}


/* Javascript events */
.comment-user-main-grid-container-edit {
  grid-template-rows: 25% 1fr 0.5fr;
}
.comment-rate-edit {
  grid-row: 1 / 4;
}
.comment-user-main-grid-container .comment-content-edit {
  margin-top: 0;
  padding: 7px;
  border: 2px solid var(--light-grayish-blue);
  border-radius: 7px;
}
.comment-edited-fb-button-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
}
.comment-edited-fb-button-container .edit-button {
  margin-right: 10px;
}
.comment-edited-fb-button-container .edit-button.edit-button-undo {
  margin-left: 25px;
  color: var(--light-grayish-blue);
  background-color: var(--white);
  border: 2px solid var(--light-grayish-blue);
}
.comment-edited-fb-button-container .edit-button.edit-button-confirm:hover {
  color: var(--moderate-blue);
  background-color: var(--white);
  border: 2px solid var(--moderate-blue);
}
.comment-edited-fb-button-container .edit-button.edit-button-undo:hover {
  color: var(--moderate-blue);
  background-color: var(--soft-red);
  border: 2px solid var(--moderate-blue);
}